/**{
  border: 1px solid red;
}*/
body{
  width: 100vw;
  height: 100vw;
}

.container{
  width: 40vw;
  height: 20vw;
}
.lower{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40vw;
  height: 13vw;
}

.name{
  color: purple;
  background-image: linear-gradient(blue 15%, grey 30%, orange 10%);
  display: flex;
  justify-content: center;
  width: 40vw;
  height: 7vw;
}
.name h1{
  font-size: 28pt;
}

.about{
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 20vw;
  height: 13vw;
}

.about p{
  /*align-content: flex-start;*/
  /*margin-top: 6vw;*/
  padding-right: 2vw;
  padding-left: 4vw;
  width: 4vw;
  height: 4vw;
}
.about h2{
  width: 20vw;
  height: 2vw;
  margin-top: 5vw;
  font-size: 18pt;
}



.bio{
  background-color: lightgrey;
  /*float: left;*/
  height: 13vw;
  width: 20vw;
}
.bio h2{
  margin-left: 3vw;
  font-size: 18pt;
}


.bio ul{
  margin-right: 4vw;
  padding-left: -15px;
  padding-right: 8vw;
  font-size: 10pt;
  list-style: none;
}

.about p{
  font-size: 12pt;
}

/*.about img{
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
}*/
img{
  margin-right: 2vw;
  margin-bottom: 5vw;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  float: right;
}
